.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    list-style: none;
    margin: 1em auto;
    padding: 0;
    max-width: 900px;

  }

  .card li.landscape {
    grid-column-end: span 2;
  }
  .card li img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-column-end: span 2;
    transition: transform .5s;
    border-radius: 12.5px;
  }
  
  .bloque:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .bloque {
    position: relative;
    display: inline-block;
    width: 100%;
    transition: transform .3s;
    overflow: hidden;
  }

.texto1 {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    margin-left: 0px;
    height: 40px;
    margin-top: 120px;
    padding-bottom: 5px;
}

.rotado {
  position: absolute;
  color:rgb(255,255,255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 3px;
  margin-top: 135px;
  margin-left: 5px;
  text-shadow: rgb(0, 0, 0) 1px 0 2px;
}

.desde {
  position: absolute;
  color:rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 3px;
  margin-top: 160px;
  margin-left: 50px;
  text-shadow: rgb(0, 0, 0) 2px 0 1px;
} 

.fondo {
  position: absolute;
  width: 100%;
  height: 33%;
  background-color: rgb(0, 0, 0);
  opacity: 40%;
  margin-top: 57.9%;
  border-bottom-left-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
}